@model IEnumerable<SyF.Models.Recipe>

@{

    ViewBag.Title = "Home";
}
@section Scripts{

    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/app-recipes.js"></script>
    <link rel="stylesheet" href="~/css/site.min.css" />
    <script src="~/js/homeController.js"></script>
    <script src="~/js/recipesController.js"></script>
    <script src="~/js/findController.js"></script>
}
@*angular scope in this div*@

@*<div class="row" ng-app="app-recipes"> we will inject the angular client view later on App/Index

        <div ng-view></div>
    </div>*@

<div class="col-md-12">
    <h2 id="logo"></h2>



    <div class="col-lg-12" ng-app="app-recipes">

        @*we provide the module that will be responsible of this code*@

        <div ng-view>
        </div>
    </div>
</div>


