
#sidebar {
    
    /*background: #8e8e8e;
    color: #000000;*/
    position: fixed;
    height: 250px;
    width: 200px; 
    overflow: hidden;
    left: 0;
    margin: 0 0 0 0;
    transition: left ease .25s;
   


}

#wrapper {
    /*background-image:url(../img/refrigerator-clipart-refrigerator-outline-png-0CuJd0-clipart.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;*/
    /*background: #282626;*/
    /*color: #ffffff;*/
    height:100%;
    margin: 0 0 0 200px;
    transition: margin-left ease .25s;


}

#sidebar.hide-sidebar {
        left: -200px;
        -moz-transition: left ease .25s;
        -o-transition: left ease .25s;
        -webkit-transition: left ease .25s;
        transition: left ease .25s;
    }

#wrapper.hide-sidebar {
    margin-left: 0;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s; /*these are the vendor specifics-in case this property is not supported for all the browsers */
    transition: margin-left ease .25s;
}
#sidebar .image{
    margin: 0 0 0 40px;
}

#footer {
    /*background-color: #222;
    color: #eee;*/
    padding: 8px 6px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#logo{

     text-align:center;
}

/*#search{

   background-image: url("../img/salad_vegetable_dish_devices_70395_602x339.jpg");
   background-repeat: no-repeat;
   background-size:contain;



}*/
