<!DOCTYPE html>
<html>
<head>
    <title>findResults</title>
</head>
<body id="findResults">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Calories</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    <!--this will be an ng-repeat later-->
                    <tr>
                        <td>{{newRecipe}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>