<link rel="stylesheet" href="~/css/site.min.css" />

<div class="col-lg-6">
    <div class="jumbotron">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <input type="button" class="btn btn-lg btn-primary" value="My Recipes" ng-click="vm.redirect()" />

    </div>
</div>
<div class="col-lg-6">
    <div class="jumbotron" id="search">
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <input type="button" class="btn btn-lg btn-primary" value="Search recipes" ng-click="vm.redirectToSearch()" />
    </div>
</div>






